body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(http://previews.123rf.com/images/snapsnap/snapsnap1201/snapsnap120100533/12190155-brown-Rice-background-Stock-Photo.jpg) repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
